.GridDiv{
    max-height: 370px; 
    position: relative;
}
.GridDiv::-webkit-scrollbar {
  width: 2px;
}
.GridDiv::-webkit-scrollbar-track {
  background: #505d69;
}
.GridDiv::-webkit-scrollbar-thumb {
  background: #ffffff;
}
#GridForm{
    border: #d6d6d6 solid 1px;
}
#GridForm thead td{ 
    font-size: 13px;
    color: #000;
    background-color: #eceaea;
    border-right: #d6d6d6 solid 1px;
    border-bottom: #d6d6d6 solid 1px;
    padding: 3px 0px 3px 5px;

}

#GridForm thead td:last-child{ 
    border-right: none;
}

#GridForm tbody td{ 
    font-size: 13px;
    color: #000;
    background-color: #ffffff;
    border-right: #d6d6d6 solid 1px;
    border-bottom: #d6d6d6 solid 1px;
    padding: 1px 0px;
}

#GridForm tbody td:last-child{ 
    border-right: none;
}

.grid-box{ 
    width: 100%;
    padding-left: 5px;
    border:none;
    border-radius: 0px !important;
    height: 28px;
}