.text-left {
    text-align: left!important;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.alert{
	color: #ffffff;
	margin-bottom: 3px;
	border-radius: 0px;
	text-transform: uppercase;
}
.alert-danger{
	background: #f6643b;
	border: #fd3800 solid 1px;
}
.alert-success{
    background: #16ca88;
    border: #18bc80 solid 1px;
}

.loading_bg,
.loading_popup {
    position: fixed;
    z-index: 100000;
    background-color: rgba(0, 0, 0, .4)
}
.loading_bg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}
.loading_popup {
    top: 45%;
    left: 49%;
    margin-top: -50px;
    margin-left: -150px;
    width: 25%;
    height: 150px;
    background: #ffffff;
    border: #6989f5 solid 5px;
    padding: 15px;
    box-shadow: 5px 5px 10px #333;
    text-align: center;
}
.loading_text{
	font-size: 14px;
    color: #000000;
    padding-top: 15px;
}

.d-none{
    display: none;
}